* {
    font-family: "Roboto", sans-serif;
}
#landingPage {
    font-size: 18px;
}
#landingPageColumn {
    padding-left: 100px;
    padding-right: 100px;
    align-self: center;
}

#landingPageColumn > p,
#landingPageColumnContainer {
    font-family: "Roboto", sans-serif;
}

#landingPageImage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}
#homeRecipeSearch {
    font-weight: 100;
    padding: 100px;
    align-self: center;
    background-color: black;
}
#homeRecipeSearch > h1 > p {
    font-family: "Roboto", sans-serif;
}

#homePageIconsList > i:hover {
    position: relative;
    bottom: 5px;
}

#navigationMenu {
    font-size: large;
    font-family: "Roboto", sans-serif;
}

#landingPageButton:hover,
#landingPageButton:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(yellow, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}
