* {
    font-family: "Roboto", sans-serif;
}
#landingPage {
    font-size: 18px;
}
#landingPageColumn {
    padding-left: 100px;
    padding-right: 100px;
    align-self: center;
}

#landingPageImage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}
#homeRecipeSearch {
    font-weight: 100;
    padding: 100px;
    align-self: center;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #57c3ad,
        #34a798
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #57c3ad,
        #34a798
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#homeRecipeSearch > h1 > p {
    font-family: "Roboto", sans-serif;
}

#homePageIconsList > i:hover {
    position: relative;
    bottom: 5px;
}

#navigationMenu {
    font-size: large;
    font-family: "Roboto", sans-serif;
}

#landingPageButton:hover,
#landingPageButton:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(yellow, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}
