
/********************************* Other Styles  *************************************/

/* Gloabl Styles */
* {
color: black;

}

#defaultView {
    background-color: #eef2f3;
}



/* Navigation menu */

#navigationMenu {
    font-size: large;
}

/*Login and Sign up Pages */

#loginFormContainer, #signUpFormContainer {
    display: flex;
    align-items: center;    
    height: 100vh;
    justify-content: center;
    }

#loginForm, #signUpForm {
width:auto;

}

/* Recipes  */
#recipeCardsIndex {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
#recipeImage > img {
    height:200px;
    object-fit: fill;
}

#recipeTitle {
color: black;
font-size:20px;
font-weight: 900;
text-decoration: none;
transition: text-decoration;
}

#recipeTitle:hover {
    text-decoration:solid underline;
   
}

/* Recipe View Template styles */
#recipeCardView {
width:25%;
padding:0;
}

/* *****USERS******** */

#userIndexUserColumn {
width: 200px;
max-width:200px;
}

#userActions{
    text-align: center;

}

/* Pagination */
ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}

ul.pagination li.active a {
    background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}

/* .recipeCardImage {
    padding: 0px;
} */

/* body {
    font-size: 18px;
    background-color: blue;
} */
/* 
#recipeCardsIndex {
    display: flex;
    flex-wrap:wrap;
}

#recipeCard {
    width: 500px;
    margin-bottom: 2rem;
}

#recipeSignUp{
    position: relative;
    margin-top:12.5%;
    margin-left:25%;
    width:fit-content;  
}

#contactForm, #loginForm {
    position: relative;
    top:18rem;
    width: fit-content;
}

#recipesIndex {
    height: 80vh;
    overflow-y: scroll;
}

.recipesTextArea {
    height: fit-content;
    background-color: linen;
} */