/********************************* Other Styles  *************************************/

/* Gloabl Styles */
* {
    color: black;
}

#defaultView {
    background-color: #eef2f3;
}

/* -------------End Global Styles------------------ */

/* Navigation menu */

#navigationMenu {
    font-size: large;
}

/*Login and Sign up Pages */

#loginFormContainer,
#signUpFormContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#loginForm,
#signUpForm {
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 75px;
}

#editRecipeForm,
#addTagForm {
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 50px;
}

#loginPageContainer {
    height: 100vh;
}

#loginFormInputsGroup > .input > input {
    border-radius: 25px;
    text-align: center;
}

#EditFormInputsGroup > .fields > .field > .input > input,
#editFormInputsGroup > .field > .input > input,
#title {
    border-radius: 25px;
}

.bioContainer > .textarea > #body,
.bioContainer > .textarea > #body,
.bioContainer > .textarea > #body,
.bioContainer > .textarea > #directions,
.bioContainer > .textarea > #body,
.bioContainer > .textarea > #body,
.bioContainer > .textarea > #bio,
#tagsContainer > .input > #recipes-ids {
    border-radius: 12px;
}

#EditFormInputsGroup > .fields > .field > .input > input:focus,
.bioContainer > .textarea > #directions:focus,
.bioContainer > .textarea > #body:focus,
.bioContainer > .textarea > #bio:focus,
#title:focus,
#tagsContainer > .input > #recipes-ids {
    border-color: #00b5ad;
}

/* Recipes  */
#recipeCardsIndex {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
#recipeImage > img {
    height: 200px;
    object-fit: cover;
}

#recipeTitle {
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    transition: text-decoration;
}

#recipeTitle:hover {
    color: #00b5ad;
}

/* Recipe View Template styles */
#recipeCardView {
    width: 25%;
    padding: 0;
}
/* ----------------------  End Recipes Styles ---------------------------- */
/* *****USERS******** */

#userIndexUserColumn {
    width: 200px;
    max-width: 200px;
}

#userActions {
    text-align: center;
}

/* User View */

#userViewImageContainer {
    text-align: -webkit-center;
}
#userSocialMedia {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#mediaLinks {
    float: right;
    padding-right: 2.5rem;
}

#mediaLinks > a > i:hover {
    position: relative;
    bottom: 1px;
    color: #00b5ad;
}

#userViewIngredients {
    word-break: break-all;
}

/************ Tags ****************/
#tagFormContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#tagForm {
    text-align: center;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 50px;
}

#tagTitle,
#tagViewLink {
    color: #00b5ad;
}

/************ End Tags ****************/

/************** Pagination ***************/
ul.pagination li a {
    color: rgba(0, 0, 0, 0.54);
}

ul.pagination li.active a {
    color: teal;
    font-weight: bolder;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
    padding: 4px;
}

.paginator p {
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
}
