/********************************* Default Layout StyleSheet *************************************/

/* ------------------Global Styles------------------ */
::placeholder {
    color: teal;
}

* #loginFormText {
    font-family: "Roboto", sans-serif;
}
#defaultView {
    background-color: #eef2f3;
    font-family: "Roboto", sans-serif;
}

/* ------------------Navigation Menu------------------ */

#navigationMenu {
    font-size: large;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#navigationMenu > a,
#navRightItems > a {
    font-size: large;
    color: white;
}

#navigationMenu > a:hover,
#footerItems > a:hover,
#navRightItems > a:hover {
    color: #6dffff;
    text-shadow: 1px 1px #00b5ad;
    position: relative;
    bottom: 1px;
}
#footerSubText {
    line-height: 1.5;
}

#linkList > a:hover {
    position: relative;
    bottom: 4px;
}

/* ------------------Users Templates------------------ */

/* *****USERS******** */

/* Users Index */
#userIndexUserColumn {
    width: 200px;
    max-width: 200px;
}

#userActions {
    text-align: center;
}

/* User Edit */

#deleteUserButton {
    margin: 300px;
}

/* User View */

#userViewImageContainer {
    text-align: -webkit-center;
}
#userSocialMedia {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#mediaLinks {
    float: right;
    padding-right: 2.5rem;
}

#mediaLinks > a > i:hover {
    position: relative;
    bottom: 1px;
    color: #00b5ad;
}

#userViewIngredients {
    word-break: break-all;
}

/*Login and Sign up Pages */

#loginFormContainer,
#signUpFormContainer,
#contactFormContainer,
#editUserContainer,
#taggedRecipesContainer {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#loginForm,
#signUpForm {
    font-family: "Roboto", sans-serif;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 75px;
}

#editRecipeForm,
#addTagForm {
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 50px;
}

#loginPageContainer,
#editUserContainer {
    height: 100vh;
}

#loginFormInputsGroup > .input > input {
    border-radius: 25px;
    text-align: center;
}

#EditFormInputsGroup > .fields > .field > .input > input,
#editFormInputsGroup > .field > .input > input,
#title {
    border-radius: 25px;
}

.bioContainer > .textarea > #body,
.bioContainer > .textarea > #body,
.bioContainer > .textarea > #body,
.bioContainer > .textarea > #directions,
.bioContainer > .textarea > #body,
.bioContainer > .textarea > #body,
.bioContainer > .textarea > #bio,
#tagsContainer > .input > #recipes-ids {
    border-radius: 12px;
}

#EditFormInputsGroup > .fields > .field > .input > input:focus,
.bioContainer > .textarea > #directions:focus,
.bioContainer > .textarea > #body:focus,
.bioContainer > .textarea > #bio:focus,
#title:focus,
#tagsContainer > .input > #recipes-ids {
    border-color: #00b5ad;
}

/* ------------------Start Recipes Templates------------------ */

#recipeCardsIndex {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
#recipeImage > img {
    height: 200px;
    object-fit: cover;
}

#recipeTitle {
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    transition: text-decoration;
}

#recipeTitle:hover {
    color: #00b5ad;
}

/* Recipe View Template styles */
#recipeCardView {
    width: 25%;
    padding: 0;
}

/* ------------------Start Tags Templates------------------ */
#tagFormContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#tagForm {
    text-align: center;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 50px;
}

#tagTitle,
#tagViewLink {
    color: #00b5ad;
}

.ribbon {
    width: 25%;
}

/* ------------------Pagination------------------ */
ul.pagination li a {
    color: rgba(0, 0, 0, 0.54);
}

ul.pagination li.active a {
    color: teal;
    font-weight: bolder;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
    padding: 4px;
}

.paginator p {
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
}

/* Contact Form Styles */
#contactFormContainer {
    height: 100vh;
}

/* Thank You Page Styles */

#thankYouBackground {
    height: 100vh;
    opacity: 0.9;
    background: #06beb6; /* fallback for old browsers */
}

#thankyouContainer {
    color: white;
    font-weight: bold;
    margin: auto;
    position: absolute;
    height: 50vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#thankyouUtensils:hover {
    color: whitesmoke;
    background-color: black;
}
