
/********************************* Other Styles  *************************************/

/* Gloabl Styles */
* {
color: black;

}




/* Navigation menu */

#navigationMenu {
    font-size: x-large;
}
/* body {
    font-size: 18px;
    background-color: blue;
} */
/* 
#recipeCardsIndex {
    display: flex;
    flex-wrap:wrap;
}

#recipeCard {
    width: 500px;
    margin-bottom: 2rem;
}

#recipeSignUp{
    position: relative;
    margin-top:12.5%;
    margin-left:25%;
    width:fit-content;  
}

#contactForm, #loginForm {
    position: relative;
    top:18rem;
    width: fit-content;
}

#recipesIndex {
    height: 80vh;
    overflow-y: scroll;
}

.recipesTextArea {
    height: fit-content;
    background-color: linen;
} */