#container {
    background-color: black;
}

p,a {
    font-size: 24px;
    font-family: 'Linden Hill', serif;
}

a {
    margin-bottom: 200px;
}

i {
    padding-right: 40px;
    color: red;
}

#disableLink {
    pointer-events: none;
    color: black;
}

#eraseStyle {
    color: goldenrod;
    font-size: 100px;
}

#header {
    text-transform: uppercase;
    font-size: 30px;
    color: black;

}


#container, #filter, #stateFilter, #brewType {
    height: fit-content;
    
}

#filter,#stateFilter,#brewType, #inputValue {
    background-color: ghostwhite;
}


#inputValue {
    background-color: lavender;
    font-size: 18px;
}

.floatMe {
    color: red;
}

.input {
    position: relative;
    width:83%;
}

#count {
    display: flex;
  justify-content: center;
  align-items: center;
  height:100px;
  font-size: 150px;
  animation: blinker 4s linear infinite;
  margin-bottom: 10%;
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  #help {
      float: right;
      background-color: black;
  }
.floatMe {
    float: right;
    animation: blinker 4s linear infinite;
}

#breweries {
    padding: 0px 100px 100px 100px;
}

#brewCard {
    padding:20px;
    background-color: aliceblue;
}

@media only screen and (max-width: 1000px) {
    #breweries {
      padding: 0;
    }

    #divider {
        visibility: hidden;
    }

    .floatMe {
        float:left;
        padding-top:25px;
              color:blue;
    }
    i {
        text-overflow: clip;
    }

    hr {
        visibility: hidden;
    }

  }

  @media only screen and (max-width: 950px) {
     .input{
         padding: 0px;  
    }
    
    .floatMe {
        padding-top:0px;
        float: right;
    
        margin-bottom: 3%;
    }

  }



