################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rock Paper Scissors/.vs/Rock Paper Scissors/v16/Server/sqlite3/db.lock
