/*This is a global style sheet for this whole portolio project.
//There are also styles for individual projects as well.  Each section is labeled appropriatley.  
//Also, there is inline styling as well for all the projects.  So don't think all the styling is controlled from this sheet.

**Import URL's from googlefont**


//***********************GLOBAL Styling***********************************************************/
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/*typography*/
/* * {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
} */

button:hover {
  position: relative;
  bottom: 0.25rem;
}

/*Navigation */
#navigation {
  padding-left: 20rem;
}

/*Landing Page */

h1 {
  color: yellow;
  text-align: center;
}

a {
  color: yellow;
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
  padding: 1em 0em;
}

#landingPageText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#landingPageText {
  color: whitesmoke;
}

i {
  color: yellow;
}

a:hover,
i:hover {
  color: orange;
}

#landingPage {
  background-size: contain;
  height: 100vh;
  color: #f5f5f5;
  object-fit: none;
  filter: brightness(50%);
}

.blink {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*****************************About page ********************************************************/
#about {
  background-color: black;
  font-size: 1.5rem;
}

#aboutMe {
  margin-top: 4rem;
}

hr {
  border-color: red;
}

#contactCard {
  background-color: black;
  border-color: orange;
}

#contactCard > div > div {
  color: yellow;
}

/**********************************Resume Page****************************************************/
.slide > img {
  height: 400px;
  width: 400px;
}

#resume {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  height: 100vh;
  overflow-y: scroll;
}

#resume > h1 {
  color: yellow;
}

#resumeSegment > h2,
h3 {
  color: orange;
}

#resumeVisible {
  height: 225px;
  background-color: black;
  color: yellow;
  align-self: center;
  padding-top: 6rem;
  border: orange 2px solid;
  border-style: outset;
}

#resumeSegment:hover {
  position: relative;
  border: orange 2px solid;
  padding: 1rem;
  margin-bottom: 1rem;
  animation: resumeBlinker 5s linear infinite;
}

@keyframes resumeBlinker {
  50% {
    opacity: 0.7;
  }
}

#resume {
  height: 100vh;
  overflow-y: scroll;
}

/*fomantic class additional stylings*/

/* .column,
.container {
  /* background-color: black;
  border: white, 2rem, solid; */

p,
h1,
a {
  font-family: "Forum", cursive;
}

#myName {
  color: orange;
  font-family: "Forum", cursive;
}

#myName:hover,
#name:focus,
#comment:focus,
#email:focus,
#category:focus,
#message:focus {
  color: gold;
  border-color: gold;
}

#submit:hover,
#thankYouButton:hover {
  background-color: black;
  color: gold;
}

hr:hover {
  border-color: gold;
}

/*************************************Projects Page **********************************************/
#list {
  font-size: 1.2rem;
}

#projectMeta {
  color: black;
}

.projectImage {
 max-height:250px;
 width:200px;
 ;
}

/* #projectGithub:hover{
color:lavenderblush;
} */

/************************************Comments Page ***********************************************/
#comment,
#name,
#email,
#message {
  color: gold;
  background: black;
  border: 1px solid orange;
  font-size: 1.5rem;
}

#category {
  background: black;
  border: 1px solid orange;
  font-size: 1.5rem;
  height: 4rem;
}
#commentLabel {
  height: 2rem;
  text-align: -webkit-center;
  font-size: medium;
  margin-top: 0.25rem;
  color: black;
  font-weight: bolder;
}

/********************Thank you page *************************************************************/
#thankYou {
  position: relative;
  top: 20rem;
}

/*Cool Calc Specifically/*
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#coolBtn {
  font-family: "Rock Salt", cursive;
}

#footer {
  color: white;
}
/****************************************************/

/*GREAT RACE */

/*Setting the background image for race*/
#greatRaceBg {
  /* Full height */
  height: 100%;

  background-image: url("./img/greatRace/background.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  font-size: 1rem;
}

/*setting position of flag*/
#flag {
  float: right;
  bottom: 630px;
  position: relative;
}

/*Handling of YoshiWin image*/
#yoshiWin {
  width: 150px;
  height: 200px;
  right: 500px;
  top: 300px;
  position: fixed;
  visibility: hidden;
}
/*Handling of mario winning image*/
#winMario {
  width: 150px;
  height: 200px;
  right: 600px;
  top: 300px;
  position: fixed;
  visibility: hidden;
}

/*******************BEAST WARS************************/

#beastP {
  font-family: "Creepster", cursive;
  text-shadow: 5px 5px orange;
  color: rgb(12, 8, 8);
  font-weight: bolder;
  text-align: center;
}

#beastImage {
  height: 300px;
}

#beastHr {
  border-color: skyblue;
}

.ui > toast {
  width: 50px;
}

#sortAlpha,
#sortMaximals,
#sortPredacons,
#sortRandom,
#sortAnimal {
  margin-right: 2rem;
}

#beastBackground,
#beastMenu {
  position: relative;
  margin-top: 1rem;
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#beastContainer {
  background-color: initial;
}

@media only screen and (max-width: 600px) {
  #sortAlpha,
  #sortMaximals,
  #sortPredacons,
  #sortRandom,
  #sortAnimal {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 20px;
  }

  /*Figure this out */
  #here {
    margin-right: 2rem;
  }

  #beastImage {
    height: 350px;
    object-fit: cover;
  }
}

/****************TMNT Character Select**********************/

path {
  color: black;
}
.turtle {
  height: 300px;
  width: 300px;
  object-fit: contain;
  margin-top: 50px;
}

#buttonGroup {
  text-align: center;
  margin-bottom: 3rem;
}

#health {
  word-break: break-all;
  width: fit-content;
  font-family: "Press Start 2P", cursive;
}
#pNum {
  position: relative;
  font-size: large;
  font-family: "Press Start 2P", cursive;
}
#playerDetails,
#h1Turtle {
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center;
}
#players {
  color: white;
  background-color: black;
  font-size: 20px;
}

#pTurtle {
  color: goldenrod;
  font-family: "Press Start 2P", cursive;
  color: snow;
  text-shadow: 2px 2px steelblue;
}

#pTurtle {
  font-size: 16px;
}

#pBlink {
  animation: blinker 2s linear infinite;
  font-family: "Press Start 2P", cursive;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#tFooter {
  padding-bottom: 50px;
  margin-top: 100px;
  text-align-last: center;
  font-family: "Press Start 2P", cursive;
}

#players {
  border-right: 1em;
  border: snow;
  border-style: solid;
  font-family: "Press Start 2P", cursive;
}
#buttonGroup > .ui.button {
  margin-top: 30px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
#turtleGroup {
  margin: 3rem;
  padding: 2rem;
}
#tName {
  color: white;
  font-size: 23px;
}

.controls {
  padding-top: 13rem;
}

#addLives,
#minusPoints,
#addPoints,
#resetStats {
  font-size: 1.5rem;
  margin-right: 3rem;
  position: relative;
  left: 3rem;
}

/* Media queries  */
@media only screen and (max-width: 765px) {
  #turtleGroup {
    text-align: center;
  }

  .ui > button {
    width: 100%;
    height: fit-content;
  }
  #project {
    margin: 5%;
  }

  #addLives,
  #minusPoints,
  #addPoints,
  #resetStats {
    left: 0px;
  }
}

/******BREWERY FETCH****************************************************************/

#brewBody {
  font-size: 1.2rem;
}
#brewContainer {
  background-color: aliceblue;
}

#brewCard {
  margin-bottom: 2rem;
}
#brewP,
#brewA {
  font-size: 24px;
  font-family: "Linden Hill", serif;
}

#brewh3,
#breweryInfo {
  color: black;
}

#brewA {
  margin-bottom: 200px;
}
#disableLink {
  pointer-events: none;
  color: black;
}
#eraseStyle {
  color: goldenrod;
  font-size: 100px;
}

#container,
#filter,
#stateFilter,
#brewType {
  height: fit-content;
}

#brewInput {
  font-size: 2rem;
}

.brewUrl {
  font-size: 20px;
  word-wrap: break-word;
}

.floatMe {
  color: red;
}

/* .input {
  position: relative;
  width: 83%;
} */

/* #count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 150px;
  animation: blinker 4s linear infinite;
  margin-bottom: 10%;
  color: lavender;
} */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#help {
  float: right;
  background-color: black;
}
.floatMe {
  float: right;
  animation: blinker 4s linear infinite;
}
#breweries {
  padding: 0px 100px 100px 100px;
}

#brewCard {
  padding: 20px;
  background-color: white;
  color: black;
}

#brewHeader {
  color: black;
  font-size: xx-large;
  text-align: left;
}

#brewLabel {
  font-size: medium;
  color: white;
}

#brewFooter {
  position: relative;
  margin-top: 30%;
  text-align: center;
}

.beer {
  position: relative;
  left: 0.3rem;
}

#brewP {
  color: black;
}

#stateFilter,
#brewType {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 1px solid whitesmoke;
  color: white;
}

option {
  color: black;
}

@media only screen and (max-width: 1000px) {
  #breweries {
    padding: 0;
  }

  #divider {
    visibility: hidden;
  }

  i {
    text-overflow: clip;
  }

  hr {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1350px) {
  .input {
    padding: 0px;
  }

  #brewInput {
    margin-left: 0px;
    width: 15ch;
  }

  .floatMe {
    padding-top: 0px;
    float: right;
    margin-bottom: 3%;
  }

  #brewFooter {
    margin-top: 120%;
  }
}

@media only screen and (max-width: 1300px) {
  #brewFooter {
    position: absolute;
    text-align: center;
  }
}

/**End of Brewery style sheet/**

/*******POKEMON Styles***********************************************************************************************/

#pokeh1 {
  font-family: pokemon;
  margin-top: 20px;
  color: black;
}

#pokeP,
#pokeSpan,
.pokeSpan,
#pokeH3,
#pokeLabel {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

#pokeP {
  text-align: center;
  word-break: break-all;
}

#inputContainer {
  width: 90%;
}
.pokeSearchInput {
  font-weight: 600;
  border: none;
  font-size: large;
  letter-spacing: 5px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

#pokeSearchValue {
  font-family: "Press Start 2P", cursive;
  font-weight: bolder;
}

#pokeSearchTools {
  padding: 2rem;
  background: #ff4e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f9d423,
    #ff4e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f9d423,
    #ff4e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#pokeh1::first-letter {
  text-transform: capitalize;
}

#pokeh1,
.pokeAdvanced,
#pokeH3,
#pokeLabel,
#pkBtn,
#pkClear {
  font-family: "Press Start 2P", cursive;
  font-size: medium;
}

.ui.modal {
  height: fit-content;
  font-size: 2rem;
}

.pokeCard {
  border-radius: 50px;
  margin: 2rem;
}

#pokeContainer {
  width: 350px;
  color: black;
  padding: 2rem;
  font-size: 1rem;
}

.mobileImage {
  text-align: center;
}

.mobileImage:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#pokeTest {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 8%;
}

#pokeHr {
  border-color: white;
}

#pokeModalDesc {
  color: black;
}

@media only screen and (max-width: 600px) {
  /* img.ui.image {
    position: absolute;
  } */
  .mobileImage {
    height: 150px;
    width: 150px;
  }
  .ui.input,
  #searchValue {
    font-size: xx-small;
    height: 30px;
  }
}

/* ************************END POKEMON****************************************** */

/* ************************FF Search****************************************** */

#ffFooter {
  position: relative;
  margin-top: 35%;
}

#ffList {
  padding-bottom: 100px;
}

#ffP {
  font-size: 1.6rem;
  font-family: Forum;
  font-style: oblique;
  color: black;
}

/* option {
  font-weight: 400;
  font-variant: petite-caps;
  font-weight: 200;
  opacity: 0.8;
} */

#ffBio,
#ffName,
#ffA,
.ffSelect,
.ffTitle {
  color: black;
  font-weight: 600;
  font-variant: petite-caps;
}

#ffName,
#ffBio {
  letter-spacing: 15px;
  text-align: left;
}

/*Character Cards */

.ffDetails {
  font-weight: 200;
  opacity: 0.8;
}

.label {
  font-size: x-large;
  color: red;
}

.line {
  border-color: skyblue;
  width: 75%;
  float: left;
}

.divider {
  border-color: skyblue;
  margin-top: 5%;
}

/* .ui.medium.image {
  margin-top: 14rem;
} */

/*Search Menu*/

.ui.accordion {
  padding: 20px;
}

.ui.fluid.dropdown {
  margin-bottom: 10px;
  padding-bottom: 1px;
  font-size: large;
}

#ffSearchInput {
  font-weight: 600;
  font-variant: petite-caps;
  border: none;
  border-bottom: 2px solid skyblue;
  font-size: xx-large;
  letter-spacing: 15px;
  font-family: "EB Garamond", serif;
  text-align: center;
}

#ffSearchTools {
  margin-top: 3%;
  margin-bottom: 3%;
}

#gameHr {
  border-color: slateblue;
}

.gem:hover {
  color: skyblue;
}

/*Media Rules*/

@media only screen and (max-width: 600px) {
  .divider,
  .line {
    width: 100%;
    border-color: lightblue;
  }

  .ui.button {
    width: 100%;
    margin-bottom: 5px;
  }

  .buttons {
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .ui.medium.image {
    margin-top: 0;
  }
}

@media only screen and (max-width: 350px) {
  .ui.fluid.dropdown {
    padding: 4px;
  }
}

/* End FF Search Styles */

/************** BMI Calc *********************/

#bmiBody {
  font-family: "KoHo", sans-serif;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

#genders,
#activity {
  padding: 8px;
}

#normalCards,
#bmrRef,
#bmiFooter {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: 10px;
}

/* Button Styling */
#bmiCalc,
#bmrCalc,
#calorieBtn {
  color: whitesmoke;
  background-color: #302b63;
  width: 100%;
}

/* Input styling */
#bmiHeight,
#bmiWeight,
#bmrAge,
#bmrHeight,
#bmrWeight {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 5px;
}

/* Styles bmi calcuation output */
#bmiInfo {
  position: relative;
  top: 35%;
}

/* Styles daily needs output */
#dailyNeeds {
  position: relative;
  top: 2rem;
}

@media only screen and (max-width: 1000px) {
  #bmiBacktoProjects {
    width: 100%;
    margin: 10px;
  }

  .bmiFooter {
    height: 10rem;
  }
}

/*Next Project styles /*********************************** */
