/*typography*/
* {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Navigation */
#navigation {
  padding-left: 20rem;
}

/*Landing Page */

h1 {
  color: gold;
  text-align: center;
}

a {
  color: gold;
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
  padding: 1em 0em;
}

#landingPageText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#landingPageText {
  color: whitesmoke;
}

i {
  color: darkorange;
}

a:hover,
i:hover {
  color: orange;
  opacity: 0.8;
}

#landingPage {
  background-size: contain;
  height: 100vh;
  color: #f5f5f5;
  object-fit: none;
  filter: brightness(50%);
}

.blink {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*About page */
#about {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

hr {
  border-color: red;
}

/*Resume Page*/

.slide > img {
  height: 400px;
  width: 400px;
}

#resumeVisible {
  height: 225px;
  background-color: aquamarine;
}

.visible > h1 {
  color: black;
}

#resume {
  height: 100vh;
  overflow-y: scroll;
}

/*fomantic class additional stylings*/

.column,
.container {
  background-color: black;
  color: white;
  border: white, 2rem, solid;
}

p,
h1,
a {
  font-family: "Forum", cursive;
}

#myName {
  color: aquamarine;
  font-family: "Forum", cursive;
  font-size: 26px;
}

#myName:hover,
#name:focus,
#comment:focus,
#email:focus,
#category:focus,
#message:focus {
  color: gold;
  border-color: gold;
}

#submit:hover,
#thankYouButton:hover {
  background-color: gold;
  color: black;
}

hr:hover {
  border-color: gold;
}

/*Comments Page */
#name,
#comment,
#name,
#email,
#message,
#category {
  color: gold;
  background: black;
  border: 1px solid aquamarine;
}

/*Thank you page */
#thankYou {
  position: relative;
  top: 20rem;
}

/*Cool Calc Specifically/*
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#coolBtn {
  font-family: "Rock Salt", cursive;
}
/****************************************************/

/*GREAT RACE */

/*Setting the background image for race*/
#greatRaceBg {
  /* Full height */
  height: 100%;

  background-image: url("./img/greatRace/background.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

/*setting position of flag*/
#flag {
  float: right;
  bottom: 630px;
  position: relative;
}

/*Handling of YoshiWin image*/
#yoshiWin {
  width: 150px;
  height: 200px;
  right: 500px;
  top: 300px;
  position: fixed;
  visibility: hidden;
}
/*Handling of mario winning image*/
#winMario {
  width: 150px;
  height: 200px;
  right: 600px;
  top: 300px;
  position: fixed;
  visibility: hidden;
}

/*******************BEAST WARS************************/

#beastP {
  font-family: 'Creepster', cursive;
  text-shadow: 5px 5px orange;
  color:rgb(12, 8, 8);
  font-weight: bolder;
  text-align: center;
}

#beastImage {
  height:575px;
    object-fit: cover;   
    
}

#beastCard {
  width:30rem;
}

#beastHr {
  border-color: skyblue;
}

.ui > toast {
  width: 50px;
}

#sortAlpha, #sortMaximals, #sortPredacons, #sortRandom, #sortAnimal {
  margin-right: 2rem;
}


#beastBackground,#beastMenu
{
  background-color: tan;
  position: relative;
  margin-top: 1rem;
  background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#beastContainer {
  background-color:initial;
}

@media only screen and (max-width: 600px) {
  #sortAlpha, #sortMaximals, #sortPredacons, #sortRandom, #sortAnimal {
    width:100%;
    margin-bottom: 1rem;
    font-size: 20px;
  }

  /*Figure this out */
  #here {
    
  }
}

button:hover {
  position: relative;
  bottom:.25rem;
}



