/*typography*/
* {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Navigation */
#navigation {
  padding-left: 20rem;
}

/*Landing Page */

h1 {
  color: gold;
  text-align: center;
}

a {
  color: gold;
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
  padding: 1em 0em;
}

#landingPageText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#landingPageText {
  color: whitesmoke;
}

i {
  color: darkorange;
}

a:hover,
i:hover {
  color: orange;
  opacity: 0.8;
}

#landingPage {
  background-size: contain;
  height: 100vh;
  color: #f5f5f5;
  object-fit: none;
  filter: brightness(50%);
}

#blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 6;
  }
}

/*About page */
#about {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

hr {
  border-color: darkorange;
}

/*Resume Page*/

.slide > img {
  height: 400px;
  width: 400px;
}

.visible {
  height: 225px;
  background-color: darkorange;
}

.visible > h1 {
  color: black;
}

/*fomantic class additional stylings*/

.column,
.container {
  background-color: black;
  color: white;
  border: white, 2rem, solid;
}

p,
h1,
a {
  font-family: "Forum", cursive;
}

#myName {
  color: darkorange;
  font-family: "Forum", cursive;
  font-size: 26px;
}

#myName:hover,
#name:focus,
#comment:focus
,#email:focus,
#category:focus,
#message:focus {
  color: gold;
  border-color: gold;
}

#submit:hover {
  background-color: gold;
  color: black;
}

hr:hover {
  border-color: gold;
}

/*Comments Page */
#name,
#comment, #name, #email, #message, #category {
  color: gold;
  background: black;
  border: 1px solid darkorange;
}


/*Thank you page */
#thankYou {
  position: relative;
  top:20rem;
}