/*This is a global style sheet for this whole portolio project.
//There are also styles for individual projects as well.  Each section is labeled appropriatley.  
//Also, there is inline styling as well for all the projects.  So don't think all the styling is controlled from this sheet.

**Import URL's from googlefont**


//***********************GLOBAL Styling***********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*typography*/
* {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  position: relative;
  bottom:.25rem;
}

/*Navigation */
#navigation {
  padding-left: 20rem;
}

/*Landing Page */

h1 {
  color: gold;
  text-align: center;
}

a {
  color: gold;
  font-size: 26px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
  padding: 1em 0em;
}

#landingPageText {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#landingPageText {
  color: whitesmoke;
}

i {
  color: darkorange;
}

a:hover,
i:hover {
  color: orange;
}

#landingPage {
  background-size: contain;
  height: 100vh;
  color: #f5f5f5;
  object-fit: none;
  filter: brightness(50%);
}

.blink {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*****************************About page ********************************************************/#about {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

hr {
  border-color: red;
}

/**********************************Resume Page****************************************************/
.slide > img {
  height: 400px;
  width: 400px;
}

#resumeVisible {
  height: 225px;
  background-color: aquamarine;
}

.visible > h1 {
  color: black;
}

#resume {
  height: 100vh;
  overflow-y: scroll;
}

/*fomantic class additional stylings*/

.column,
.container {
  background-color: black;
  border: white, 2rem, solid;
}

p,
h1,
a {
  font-family: "Forum", cursive;
}

#myName {
  color: aquamarine;
  font-family: "Forum", cursive;
  font-size: 26px;
}

#myName:hover,
#name:focus,
#comment:focus,
#email:focus,
#category:focus,
#message:focus {
  color: gold;
  border-color: gold;
}

#submit:hover,
#thankYouButton:hover {
  background-color: gold;
  color: black;
}

hr:hover {
  border-color: gold;
}

/************************************Comments Page ***********************************************/
#comment,
#name,
#email,
#message,
#category {
  color: gold;
  background: black;
  border: 1px solid aquamarine;
}

/********************Thank you page *************************************************************/#thankYou {
  position: relative;
  top: 20rem;
}

/*Cool Calc Specifically/*
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#coolBtn {
  font-family: "Rock Salt", cursive;
}
/****************************************************/

/*GREAT RACE */

/*Setting the background image for race*/
#greatRaceBg {
  /* Full height */
  height: 100%;

  background-image: url("./img/greatRace/background.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

/*setting position of flag*/
#flag {
  float: right;
  bottom: 630px;
  position: relative;
}

/*Handling of YoshiWin image*/
#yoshiWin {
  width: 150px;
  height: 200px;
  right: 500px;
  top: 300px;
  position: fixed;
  visibility: hidden;
}
/*Handling of mario winning image*/
#winMario {
  width: 150px;
  height: 200px;
  right: 600px;
  top: 300px;
  position: fixed;
  visibility: hidden;
}

/*******************BEAST WARS************************/

#beastP {
  font-family: 'Creepster', cursive;
  text-shadow: 5px 5px orange;
  color:rgb(12, 8, 8);
  font-weight: bolder;
  text-align: center;
}

#beastImage {
  height: 300px;
    
}

#beastHr {
  border-color: skyblue;
}

.ui > toast {
  width: 50px;
}

#sortAlpha, #sortMaximals, #sortPredacons, #sortRandom, #sortAnimal {
  margin-right: 2rem;
}


#beastBackground,#beastMenu
{
  position: relative;
  margin-top: 1rem;
  background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#beastContainer {
  background-color:initial;
}

@media only screen and (max-width: 600px) {
  #sortAlpha, #sortMaximals, #sortPredacons, #sortRandom, #sortAnimal {
    width:100%;
    margin-bottom: 1rem;
    font-size: 20px;
  }

  /*Figure this out */
  #here {
    margin-right:2rem;
  }

  #beastImage {
    height:350px;
    object-fit: cover;
  }


}

/****************TMNT Character Select**********************/

.turtle {
  height:300px;
  width:300px;
  object-fit: contain;
  margin-top:50px;
}

#buttonGroup {
  text-align: center;
  margin-bottom: 3rem;
  
}

#health {
  word-break: break-all;
  width:fit-content;
  font-family: 'Press Start 2P', cursive;

}
#pNum {
position: relative;
font-size: large;
font-family: 'Press Start 2P', cursive;

}
#playerDetails, #h1Turtle{
font-family: 'Press Start 2P', cursive;
color: white;
text-align: center;
}
#players {
  color:white;
}

#pTurtle {
color: goldenrod;
font-family: 'Press Start 2P', cursive;
color: snow;
text-shadow: 2px 2px steelblue;
}

#pTurtle  {
  font-size: 16px;
}

#pBlink {
  animation: blinker 2s linear infinite; 
  font-family: 'Press Start 2P', cursive;

}

@keyframes blinker {
  50% {opacity : 0;}
}

#tFooter {
  padding-bottom: 50px;
    margin-top: 100px;
    text-align-last: center;
    font-family: 'Press Start 2P', cursive;
}

#players {
  border-right: 1em;
  border: snow;
  border-style: solid;
  font-family: 'Press Start 2P', cursive;

}
#buttonGroup > .ui.button {
margin-top:30px;
text-align:center;
font-family: 'Press Start 2P', cursive;

}
#turtleGroup {
  margin-top: 30px;
  margin-bottom:30px;
}
#tName {
  color: white;
  font-size: 23px;
}

.controls {
  padding-top: 13rem;
}

#addLives, #minusPoints, #addPoints, #resetStats {
 font-size: 1.5rem;
margin-right: 3rem;
position: relative;
left:3rem
}



/* Media queries  */
@media only screen and (max-width: 765px) {
  #turtleGroup {
    text-align: center;
  }

  .ui > button {
      width:100%;
      height:fit-content;
  }
  #project {
      margin:5%;
  }

  #addLives, #minusPoints, #addPoints, #resetStats {
    left: 0px;
  }


}

/**********************************************************************

