/************** BMI Calc *********************/

/* styling for whole bmi component */
#bmiBody {
  font-family: "KoHo", sans-serif;
  padding-bottom: 2rem;
  background-color: aliceblue

  
}

/* padding for select dropdown menus */
#genders,
#activity {
  padding: 8px;
}

/* background color for each component */
#normalCards,
#bmrRef,
#bmiFooter {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-bottom: 10px;
}

#BMIContainer {
  padding-top: 1rem;
}

/* Button Styling */
#bmiCalc,
#bmrCalc,
#calorieBtn {
  color: whitesmoke;
  background-color: #302b63;
  width: 100%;
}

/* Input styling */
#bmiHeight,
#bmiWeight,
#bmrAge,
#bmrHeight,
#bmrWeight {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 5px;
}

/* Styles bmi calculation output */
#bmiInfo {
  position: relative;
  top: 35%;
}

/* Styles daily needs output */
#dailyNeeds {
  position: relative;
  top: 2rem;
}

@media only screen and (max-width: 1000px) {
  #bmiBacktoProjects {
    position: relative;
    left: unset;
  }

  .bmiFooter {
    height: 18rem;
  }

  #bmiInfo,
  #dailyNeeds {
    padding-bottom: 5rem;
  }
}
