#catApp {
  background-color: black;
  height: 100vh;
}

#randomCats {
  height: 100vh;
}

#catNavigationMenu {
  border-bottom-color: whitesmoke;
}

#randomCatFactContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  overflow-y: scroll;
}

#catInputMenu {
  margin-top: 5rem;

  text-align: center;
}

#catFactsList,
#breedList {
  color: whitesmoke;
  padding-right: 10rem;
  padding-left: 10rem;
  font-size: 1.5rem;
  height: 500px;
  overflow-y: scroll;
}

#pageNum {
  color: beige;
  text-shadow: 1px 1px whitesmoke;
}

#breedSegment {
  font-size: 1.5rem;
}

#catsListButton {
  margin-top: 2rem;
}

#catInput {
  text-align: center;
  border: none;
  border-top: none;
  width: 10rem;
  background-color: black;
  border-bottom: 1px solid beige;
  color: beige;
}

#breedBtn,
#catFactButton,
#catFactReset,
#catsListButton {
  border: none;
  background-color: black;
}

#catFactReset {
  position: fixed;
  top: 60%;
}

#catSpan {
  color: thistle;
  text-shadow: thistle 1px 1px;
}
.cat {
  width: 100%;
}

#catFooter {
  position: fixed;
  bottom: 0px;
  background-color: black;
  border-top: solid whitesmoke 2px;
  padding: 2rem;
  width: 105%;
}

#catCreds > a,
#catText > a,
.cat {
  color: beige;
  font-size: 1.5rem;
}

#catCreds > a:hover,
#catText > a:hover,
#catNavigationMenu > a:hover,
.cat:hover {
  color: whitesmoke;
  text-shadow: 1px 1px beige;
}

#catCreds {
  border-right: beige 4px solid;
}

#breedSegment,
#catFactsList {
  color: white;
  background-color: black;
  border-color: whitesmoke;
}

#breedSegment:hover {
  border-width: 4px;
  border-color: whitesmoke;
}

#breedSegment:hover > hr {
  border-width: 2px;
  border-color: whitesmoke;
}

#breedSegment > h1 {
  color: thistle;
  text-shadow: thistle 1px 1px;
}

#catFactsList > p:hover {
  text-shadow: 1px 1px beige;
}

.cat:hover {
  transform: rotate(-10deg);
  text-shadow: 1px 1px beige;
}
/* Media Rules */

@media only screen and (max-width: 600px) {
  #randomCatFactContainer {
    position: absolute;
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 1000px) {
  #catNavigationMenu > a {
    font-size: 2px;
  }
  #randomCatFactContainer {
    width: 100%;
    font-size: 24px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #catInput,
  #catFactButton {
    font-size: 1.5rem;
  }

  #catFactReset,
  #catsListButton {
    border-top: grey solid 1px;
  }

  #catFactsList {
    padding: unset;
    padding: 2rem;
    height: 250px;
  }

  #pageNum {
    font-size: large;
  }

  .cat {
    padding-left: 34px;
  }

  #catCreds {
    border-right: unset;
  }
}

@media only screen and (max-height: 680px) {
  #randomCatFactContainer {
    width: 100%;
    font-size: 20px;
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #catNavigationMenu > a {
    font-size: 2px;
  }

  #catFactsList {
    padding: unset;
    padding: 2rem;
    height: 200px;
  }

  #listCatIcon {
    font-size: 2rem;
    margin-right: 4rem;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 300px) {
  #randomCatFactContainer {
    width: 100%;
    font-size: 18px;
    padding-left: 40px;
    padding-top: 40px;
    margin: 20px;
    height: 400px;
    overflow-y: scroll;
  }
}
