#catApp {
  background-color: black;
  height: 100vh;
}

#randomCats {
  height: 100vh;
}

#randomCatFactContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 36px;
}

#catInputMenu {
  margin-top: 5rem;
  width: fit-content;
  text-align: center;
}

#catFactsList {
  color: bisque;
  font-size: 1.5rem;
  height: 100vh;
  max-height: 650px;
}

#catInput,
#catFactButton {
  text-align: center;
  border: none;
  border-top: none;
  border-width: 1px;
  background-color: black;
  border-bottom: 2px solid bisque;
  color: blanchedalmond;
}

#catFactReset {
  position: fixed;
  top: 60%;
}

#catSpan {
  color: blue;
}

#catFooter {
  position: fixed;
  bottom: 0px;
  right: 32%;
  background-color: black;
  padding: 3rem;
}

#catCreds > a,
#catText > a {
  color: beige;
}

#catCreds {
  border-right: yellow 4px solid;
}

#breedBtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* Media Rules */
@media only screen and (max-width: 1000px) {
  #randomCatFactContainer {
    width: 100%;
  }

  #catRandomFact {
    font-size: 36px;
  }

  #catInput,
  #catFactButton {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  #catFactReset {
    position: relative;
    top: 300px;
  }
}
