#catApp {
  background-color: black;
  height: 100vh;
}

#randomCats {
  height: 100vh;
}

#randomCatFactContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 36px;
}

#catInputMenu {
  margin-top: 5rem;
  width: fit-content;
  text-align: center;
}

#catFactsList,
#breedList {
  color: bisque;
  padding-right: 10rem;
  padding-left: 10rem;
  font-size: 1.5rem;
  height: 550px;
  overflow: scroll;
}

#breedSegment {
  font-size: 1.5rem;
}

#catsListButton {
  margin-top: 2rem;
}

#catInput,
#catFactButton {
  text-align: center;
  border: none;
  border-top: none;
  border-width: 1px;
  background-color: black;
  border-bottom: 2px solid bisque;
  color: blanchedalmond;
}

#catFactReset {
  position: fixed;
  top: 60%;
}

#catSpan {
  color: red;
}

#catFooter {
  position: fixed;
  bottom: 0px;
  background-color: black;
  border-top: solid yellow 2px;
  padding: 3rem;
  width: 100%;
}

#catCreds > a,
#catText > a {
  color: beige;
}

#catCreds {
  border-right: yellow 4px solid;
}

#breedBtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#breedSegment {
  color: white;
  background-color: black;
  border-color: beige;
}

.cat:hover {
  padding-left: 0.5rem;
}
/* Media Rules */
@media only screen and (max-width: 1000px) {
  #randomCatFactContainer {
    width: 100%;
  }

  #catRandomFact {
    font-size: 36px;
  }

  #catInput,
  #catFactButton {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  #catFactReset,
  #catsListButton {
    position: relative;
    top: 300px;
  }
}
