#catApp {
  background-color: black;
  height: 100vh;
}

#randomCatFactContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 36px;
}

#catInputMenu {
  margin-top: 5rem;
  width: fit-content;
  text-align: center;
}

#catFactsList {
  color: bisque;
  font-size: 1.5rem;
  height: 100vh;
  max-height: 700px;
}

#catInput,
#catFactButton {
  text-align: center;
  border: none;
  border-top: none;
  border-width: 1px;
  background-color: black;
  border-bottom: 2px solid bisque;
  color: blanchedalmond;
}

#catFactReset {
  position: fixed;
  top: 60%;
}

#catSpan {
  color: blue;
}

/* Media Rules */
@media only screen and (max-width: 1000px) {
  #randomCatFactContainer {
    width: 100%;
  }

  #catRandomFact {
    font-size: 36px;
  }

  #catInput,
  #catFactButton {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  #catFactReset {
    position: relative;
    top: 300px;
  }
}
