/* Global Cat styles */
#catApp {
  background-color: black;
  color: white;
  height: 100vh;
}

#randomCats {
  height: 100vh;
  background-color: black;
  color: white;
}

#breedBtn,
#catFactButton,
#catFactReset,
#catsListButton {
  border: none;
  background-color: black;
}

#breedSegment,
#catFactsList {
  color: white;
  background-color: black;
  border-color: whitesmoke;
}

.cat {
  width: 100%;
}

.cat:hover {
  transform: rotate(-10deg);
  text-shadow: 1px 1px beige;
}

/* Cat Nav Menu */
#catNavigationMenu {
  border-bottom-color: whitesmoke;
}

/* Random Fact page */

#randomCatFactContainer {
  font-size: 36px;
  overflow-y: scroll;
  position: relative;
  padding-top: 10%;
}

#randomCatFactContainer:hover {
  text-shadow: 1px 1px whitesmoke;
}

#catInputMenu {
  margin-top: 5rem;
  text-align: center;
}

#catInput {
  text-align: center;
  border: none;
  border-top: none;
  width: 10rem;
  background-color: black;
  border-bottom: 1px solid beige;
  color: beige;
}

#catFactReset {
  position: fixed;
  top: 60%;
}

/* Breeds Page */

#breedListContainer {
  background-color: black;
  color: white;
  height: 100vh;
  overflow-y: scroll;
}
#breedList {
  color: whitesmoke;
  padding-right: 10rem;
  padding-left: 10rem;
  font-size: 1.5rem;
  height: 425px;
  overflow-y: scroll;
}

#breedSegment {
  font-size: 1.5rem;
}

#breedSegment:hover {
  border-width: 4px;
  border-color: whitesmoke;
}

#breedSegment:hover > hr {
  border-width: 2px;
  border-color: whitesmoke;
}

#breedSegment > h1 {
  color: thistle;
  text-shadow: thistle 1px 1px;
}

#catSpan {
  color: thistle;
  text-shadow: thistle 1px 1px;
}
/* Random Facts Page */

#catFactsListContainer {
  background-color: black;
  color: white;
  height: 100vh;
  overflow-y: scroll;
}
#catFactsList {
  color: whitesmoke;
  padding-right: 10rem;
  padding-left: 10rem;
  font-size: 1.5rem;
  height: 500px;
  overflow-y: scroll;
}

#catFactsList > p:hover {
  text-shadow: 1px 1px whitesmoke;
}

#pageNum {
  color: beige;
  text-shadow: 1px 1px whitesmoke;
}

/* Cat Footer */

#catFooter {
  position: fixed;
  bottom: 0px;
  background-color: black;
  border-top: solid whitesmoke 2px;
  padding: 2rem;
  width: 105%;
}

#catCreds > a,
#catText > a,
.cat {
  color: beige;
  font-size: 1.5rem;
}

#catCreds > a:hover,
#catText > a:hover,
#catNavigationMenu > a:hover,
.cat:hover {
  color: whitesmoke;
  text-shadow: 1px 1px beige;
}

#catCreds {
  border-right: beige 4px solid;
}

/* Media Rules */

/* Width */

@media only screen and (max-width: 900px) {
  #catNavigationMenu > a {
    font-size: 2px;
  }
  #randomCatFactContainer {
    width: 100%;
    font-size: 24px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: unset;
  }

  #catInput,
  #catFactButton {
    font-size: 1.5rem;
  }

  #catFactReset,
  #catsListButton {
    border-top: grey solid 2px;
  }

  #catFactsList {
    padding: unset;
    padding: 2rem;
    height: 250px;
  }

  #pageNum {
    font-size: large;
  }

  .cat {
    padding-left: 34px;
  }

  #catCreds {
    border-right: unset;
  }

  #breedList {
    padding-left: unset;
    padding-right: unset;
    height: 400px;
  }

  #breedBtn {
    border-top: 1px solid grey;
    border-width: 100%;
    font-size: 1rem;
  }
}

/* @media only screen and (max-width: 600px) {
  #randomCatFactContainer {
    position: absolute;
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 300px) {
  #randomCatFactContainer {
    width: 100%;
    font-size: 18px;
    padding-left: 40px;
    padding-top: 40px;
    margin: 20px;
    height: 400px;
    overflow-y: scroll;
  }
} */

/* Height */

@media only screen and (max-height: 900px) {
  #catFactsList {
    padding: unset;
    padding: 2rem;
    height: 300px;
  }
}
@media only screen and (max-height: 740px) {
  #randomCatFactContainer {
    width: 100%;
    font-size: 20px;
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #catNavigationMenu > a {
    font-size: 2px;
  }

  #catFactsList {
    padding: unset;
    padding: 2rem;
    height: 275px;
  }

  #listCatIcon,
  #breedsCatIcon {
    font-size: 3rem;
    margin-right: 4rem;
    padding-bottom: 4rem;
  }

  #breedList {
    padding-left: unset;
    padding-right: unset;
    height: 320px;
  }

  #breedSegment {
    font-size: 1.3rem;
    margin-left: 2rem;
  }
  #catFooter {
    padding: unset;
  }

  #catsListButton,
  #breedButton {
    padding-bottom: 4rem;
  }
}
