/* Cool Calc Style Sheet */

#coolCalcApp {
  background-color: black;
  height: 100vh;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Setting google font */
#coolBtn {
  font-family: "Rock Salt", cursive;
}

@media only screen and (max-width: 600px) {
  #num1,
  #num2 {
    margin-left: 10rem;
  }
}
