/* Dogs Stylesheet */

/* Gold blue and green gradient */
#dogsProject {
  height: fit-content;
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#dogHeader {
  background-color: black;
  color: #78ffd6;
  font-family: "Crafty Girls", cursive;
  margin-bottom: unset;
  padding: 1.5rem;
  font-size: 4.5rem;
}

#dogHeader:hover {
  color: #a8ff78;
}

#dogBtnContainer {
  width: 600px;
}

#dogImage {
  width: 600px;
  height: 650px;
  padding-top: 2rem;
  object-fit: scale-down;
}

#dogBtn {
  margin-top: 2rem;
  background-color: black;
}

#dogBtn:hover {
  border: solid 4px;
  border-color: #a8ff78;
}
#dogBtn:hover > .paw {
  color: #a8ff78;
}

.paw {
  color: #78ffd6;
}

#dogFooter {
  border-top: black solid 2px;
  margin-top: 10rem;
  background-color: black;
  color: #78ffd6;
  font-family: "Crafty Girls", cursive;
  padding: 3rem;
}

#dogCreds {
  border-right: #a8ff78 4px solid;
}

#dogText > a,
#dogCreds > a {
  color: #78ffd6;
  font-size: 1.5rem;
}

#dogCreds > a:hover,
#dogText > a:hover {
  color: #a8ff78;
}

/* Media Rules */
@media only screen and (max-width: 1200px) {
  #dogsProject {
    height: unset;
  }
  #dogCreds {
    border-right: unset;
    border-bottom: #a8ff78 4px solid;
  }

  #dogHeader {
    font-size: 2rem;
  }

  #dogBtnContainer {
    height: 50px;
    margin: unset;
  }

  #dogImage {
    height: 400px;
  }

  #dogBtnContainer {
    margin: unset;
  }
}
