/* Hikes Style Sheet */

#hikeLink {
    font-size: 1rem;
}

#hikeList > div {
    padding-bottom: .9rem;
}

.carousel .slide img {
    max-height: 310px;
    object-fit: cover;
}

#hikeContent {
    height: 44.5rem;
overflow: auto;
}

#hikeImage {
    object-fit: cover;
    
}

/* hikeNavigation */
.hikeSelected {
    border-bottom: forestgreen 2px solid;
  }