/* Hikes Style Sheet */

#hikesText, #hikeNavigation, #hikeHeader, #hikeListHeader, #hikeTitle {
    font-family: 'Libre Baskerville', serif;
}
#hikeLink {
    font-size: 1rem;
}

#hikeList > div {
    padding-bottom: .9rem;
}

.carousel .slide img {
    max-height: 310px;
    object-fit: cover;
}

#hikeContent {
    height: 44.5rem;
overflow: auto;
}

#hikeImage, #spfImage {
    object-fit: cover;
    max-height: 450px;
    padding:2rem;
    max-width: 100%;
    height: auto;

}

/* hikeNavigation */
.hikeSelected {
    border-bottom: forestgreen 2px solid;
  }

#hikeNavigation > a {
    font-size: .5rem;
}