/* Hikes Style Sheet */

#hikeHeader{
    letter-spacing: 1rem;
    text-shadow: .5px .5px forestgreen;
    padding-top:3rem;
}

#hikesText, #hikeNavigation, #hikeHeader, #hikeListHeader, #hikeTitle, #hikeContactContainer > div {
    font-family: 'Libre Baskerville', serif;
}

#hikesText, #hikeFooter, #hikeGallery, #spfGallery, #hikeContactContainer, #hikeThankYouContainer {
    background: #DAD299;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}
#hikeLink {
    font-size: 1rem;
}

#hikeListColumn, #hikeContent, #hikeHr, #hikeFooter{
    border-color: black;
    border-bottom-color: none;
}

#hikeList > div {
    padding-bottom: 1.3rem;
    border-color: black;
}

#hikeList > div:hover {
    font-size: x-large;
}

.carousel .slide img {
    max-height: 310px;
    object-fit: cover;
}

#hikeContent {
    height: 49rem;
overflow: auto;
width:32%;
}

#hikeImage, #spfImage {
    object-fit: cover;
    max-height: 450px;
    padding:.25rem;
    margin-bottom:1rem;
    max-width: 100%;
    height: auto;
    border-color: black;
    border-width: 10rem;

}


/* hikeNavigation */
.hikeSelected{
    font-weight: bold;
  }

#hikeNavigation {
    margin-bottom: 1rem;
    border-bottom-color: black;
    padding-bottom: 1rem;
}

#hikeNavigation > a {
    text-shadow: .5px .5px forestgreen;
    padding-bottom: 1rem;
}



/* Footer */

#hikeFooter {
    height:fit-content;
    color: black;
    border-top-color: black;
    border-top-width: 3px;
    border-right: none;
    border-left:none;
    border-bottom: none;
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color:white;
    border-radius: 25%;
}

.instagram:hover {
    position: relative;
    bottom:2px;
    color:white;
}


/* Hike Contact */

#hikeContactContainer, #hikeThankYouContainer {
    height: 100vh;
}
#hikeContactForm {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:40%;
}

#hikeFormText {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1rem;
    border-color: black;
}


/* Misc */

.scroll-to-top{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  