/* Hikes Style Sheet */

#hikesText, #hikeNavigation, #hikeHeader, #hikeListHeader, #hikeTitle {
    font-family: 'Libre Baskerville', serif;
}
#hikeLink {
    font-size: 1rem;
}

#hikeList > div {
    padding-bottom: .9rem;
}

#hikeList {
    background-color: black;
}
.carousel .slide img {
    max-height: 310px;
    object-fit: cover;
}

#hikeContent {
    height: 44.5rem;
overflow: auto;
}

#hikeImage, #spfImage {
    object-fit: cover;
    max-height: 450px;
    padding:.25rem;
    margin-bottom:1rem;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    border-color: black;
}


/* hikeNavigation */
.hikeSelected {
    border-bottom: forestgreen 2px solid;
  }

#hikeNavigation {
    margin-bottom: 2rem;
}
#hikeNavigation > a {
    font-size: .5rem;
}

/* Footer */
.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    color:white;
    border-radius: 25%;
}

.instagram:hover {
    position: relative;
    bottom:2px;
    color:white;
}

/* Spf List */
