/* Jokes Stylesheet */

#jokesApp {
  height: fit-content;
  margin-bottom: 4rem;
}
/* jokes Footer */
#jokesFooter {
  position: fixed;
  bottom: 0px;
  background-color: whitesmoke;
  border-top: solid black 4px;
  padding: 1rem;
  width: 105%;
  margin-top: 20rem;
}

#jokesFooter > .column > a {
  color: black;
}

#jokesFooter > .column > a:hover {
  color: red;
  text-shadow: 1px 1px red;
}

/* flipping card */

.flip-card {
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
