/* Jokes Stylesheet */

#jokesMenu {
  background-color: #9ef8df;
    font-family: 'Bitter', serif;
}

#jokesApp {
  height: 100vh;
  margin-bottom: 4rem;
  background-color: #77f8fd;
  font-family: 'Bitter', serif;
}


#jokesAppContainer {
  background-color: #77f8fd;

}
#jokeId {
  font-family: 'Bitter', serif;
}

.flip-card-front > *, .flip-card-back > * {
  font-family: 'Bitter', serif;
}


#jokeBtnGroup > button {
  margin-right: 2rem;
  font-family: 'Bitter', serif;

}
/* jokes Footer */
#jokesFooter {
  position: fixed;
  bottom: 0px;
  background-color: #9ef8df;
  font-family: 'Bitter', serif;
  padding: 1rem;
  width: 105%;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

#jokesFooter > .column > a {
  color: black;
  font-size: 1.5rem;
}
#jokeFooterLeft {
  border-right:.5rem solid #77f8fd
}

#jokesFooter > .column > a:hover {
  color: black;
  text-shadow: 1px 1px #77f8fd;
}

/* flipping card */

.flip-card {
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
  margin-top: 15%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

#showBack {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  background-color: #9ef8df;
}

.flip-card-back {
  background-color: #9ef8df;
  color: black;
  transform: rotateY(180deg);
}

#jokeText {
  padding-top: 3rem;
}

#jokePunchLine {
  padding-top: 3.5rem;
}

#jokeButton {
  margin-top: 2rem;
  background-color: #fdcede;
}

#jokeButton:hover {
  background-color: #9ef8df;
  border-radius: 45%;
}


#resetJokes,
#tenJokes {
  background-color: #fdcede;
}

#resetJokes:hover,#tenJokes:hover {
  background-color: #77f8fd;
  border-radius: 45%;
}

#jokeStatusBtn {
  background-color: #77f8fd;
}

#jokeStatusBtn:hover {
  background-color: #fdcede;
  border-radius: 45%;
}
#jokeQuantity {
  font-weight: bolder;
  font-size: 3.5rem;
  font-family: 'Bitter', serif;

}

#jokesList {
  padding-bottom: 10rem;
}
