/* Jokes Stylesheet */

#jokesMenu {
  background-color: #9ef8df;
}

#jokeCategoryLabel {
  color: black;
  font-weight: bolder;
  font-variant: small-caps;
}
#jokesApp {
  height: 100vh;
  margin-bottom: 4rem;
  background-color: #f8f5c0;
}

#jokesAppContainer {
  background-color: #f8f5c0;
}

#jokesContainer {
  color: black;
}

#jokeBtnGroup > button {
  margin-right: 2rem;
}
/* jokes Footer */
#jokesFooter {
  position: fixed;
  bottom: 0px;
  background-color: #9ef8df;
  border-top: solid black 4px;
  padding: 1rem;
  width: 105%;
}

#jokesFooter > .column > a {
  color: black;
  font-size: x-large;
}

#jokesFooter > .column > a:hover {
  color: #fffcb8;
  text-shadow: 1px 1px #fcc470;
}

/* flipping card */

.flip-card {
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
  margin-top: 15%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

#showBack {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
  background-color: #77f8fd;
}

.flip-card-back {
  background-color: #77f8fd;
  color: black;
  transform: rotateY(180deg);
}

#jokeButton {
  margin-top: 2rem;
  background-color: #77f8fd;
}

#jokeButton:hover {
  background-color: #fdcede;
  border-radius: 50%;
}
#resetJokes,
#tenJokes {
  background-color: #fdcede;
}

#jokeStatusBtn {
  background-color: #77f8fd;
}
#jokeQuantity {
  color: black;
  font-weight: bolder;
  font-size: 4rem;
}

#jokesList {
  padding-bottom: 10rem;
}
