/* Resident Evil Stylesheet */

#residentEvilProject > div,
#reName {
  font-family: auto;
}

#reName {
  font-size: 3.5rem;
}

#reMenu,
#reFooterContainer {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #434343
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#resPortrait, #reBioContainer {
  max-height: 675px;
  object-fit: contain;
}
#resGamesList {
  place-content: center;
  padding-top: 1em;
  cursor: crosshair;
}

#reBioContainer,
#resGamesList,
#resFooterText {
  font-size: 1.4rem;
}

#reFooterContainer {
  margin-top: 1.5rem;
  height:fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
#resFooterText {
  text-align: center;
  padding: 1%;
}

.reMenuItem:hover,
.resMenuItem:hover,
#reName:hover {
  text-shadow: 6px 6px 12px black;
}

#resGamesList > div:hover, #resFooterText:hover {
  color: red;
}

#resGamesList > div {
  
}

#bioLabel {
  color: crimson
}

#reBioContainer{
    padding:3rem;
}

#reName{
  border-bottom: solid white .5px;
}
