/***********************GLOBAL Styling***********************************************************/

/* simple way of showing movement on button hover*/
button:hover {
  position: relative;
}

.mainPageh1 {
  color: gold;
  text-align: center;
}

.mainPageh1:hover {
  color: orange;
}

/* mainly select dropdown options */
option {
  color: black;
}

.ui.modal {
  height: fit-content;
  font-size: 2rem;
}

/*Navigation menu */
#portfolioNavigation {
  padding-left: 5%;
  font-family: "Roboto Mono", monospace;
  color: gold;
  margin-bottom: unset;
}
#goldText:hover {
  color: orange;
}

.portfolioSelected {
  border-bottom: orange 2px solid;
}

/*Landing Page */

#landingPage,
#about,
#resume,
#techStack,
#faqsPage {
  color: white;
  background-color: black;
  height: 100vh;
}

#faqsPage > div {
  background-color: black;
  padding: unset;
}
#faqDiv {
  background-color: black;
}

#landingPage > div,
#about > div {
  background-color: black;
}

#landingPageSub {
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
}

#goldText {
  color: gold;
}

#aboutAvatar,
#aboutLink,
#mainNavigationItem {
  font-size: 26px;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
  padding: 1em 0em;
}

.resumeList > i {
  color: gold;
}

.resumeList > a:hover,
.resumeList > i:hover {
  color: orange;
}

.learnMore:hover {
  position: relative;
  bottom: 0.15rem;
  color: black;
}

.blink {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*****************************About page ********************************************************/
#about {
  background-color: black;
  font-family: "Roboto Mono", monospace;
  font-size: 1.4rem;
}

#aboutMe {
  background-color: black;
  padding-top: 4rem;
  font-size: 1.4rem;
}

#contactCard {
  background-color: black;
  border-color: orange;
}

#contactCard > div > div {
  color: yellow;
}

/**********************************Resume Page****************************************************/

#resumeColumnContainer {
  background-color: black;
  height: fit-content;
  padding: 2rem;
}
#roboHeader {
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
}

.slide > img {
  height: 400px;
  width: 400px;
}
#resume {
  height: 100vh;
  overflow-y: scroll;
  font-family: "Roboto Mono", monospace;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

#resumeSegment > h2 {
  color: orange;
  font-family: "Roboto Mono", monospace;
}
#jobLocation {
  font-family: "Roboto Mono", monospace;
}

#resumeVisible {
  background-color: black;
  color: yellow;
  align-self: center;
  border: grey 2px solid;
  border-style: outset;
  padding-top: 33%;
  height: 200px;
  font-family: "Roboto Mono", monospace;
}

#resumeSegment:hover,
#faqSegment:hover {
  position: relative;
  border: orange 2px solid;
  padding: 1rem;
  margin-bottom: 1rem;
  animation: resumeBlinker 5s linear infinite;
}

@keyframes resumeBlinker {
  50% {
    opacity: 0.9;
  }
}

#myName {
  color: gold;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
}

#reactLink {
  color: gold;
  font-size: larger;
}
#myName:hover,
#reactLink:hover {
  color: orange;
}

#name:focus,
#comment:focus,
#email:focus,
#category:focus,
#message:focus {
  color: gold;
  border-color: orange;
}

#submit:hover,
#thankYouButton:hover {
  background-color: black;
  color: gold;
}

/* Media Rules */
@media only screen and (max-width: 800px) {
  #resumeColumnContainer {
    height: 1800px;
  }

  #resume,
  #techStack,
  #commentForm {
    border-top: solid orange 2px;
  }
  #commentForm {
    padding-top: 2rem;
  }
}

/*************************************Projects Page **********************************************/
#projects {
  background-color: black;
}
#list {
  font-size: 1.2rem;
  margin-bottom: unset;
}

#projectMeta {
  color: black;
}

.projectImage {
  max-height: 160px;
  width: 200px;
  object-fit: cover;
}

/************************************Comments Page ***********************************************/
#commentsPage {
  background-color: black;
}
#comment,
#name,
#email,
#message {
  color: gold;
  background: black;
  border: 1px solid gold;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
}

#category {
  background: black;
  border: 1px solid gold;
  font-size: 1.5rem;
  height: 4rem;
}
#commentLabel {
  height: 2rem;
  text-align: -webkit-center;
  font-size: medium;
  margin-top: 0.25rem;
  color: black;
  font-weight: bolder;
}

.commentText,
#submit {
  font-family: "Roboto Mono", monospace;
  font-size: 1.4rem;
}

/* ***************Contact Page************************** */
#contactPage {
  background-color: black;
  padding-bottom: 20rem;
  padding-right: unset;
}

#contactFormSegment {
  padding-top: 6rem;
}

/* Media Rules */
@media only screen and (max-width: 300px) {
  #contactPage {
    height: unset;
    height: px;
  }
}
/********************FAQ Page *************************************************************/

#faqsPage {
  color: white;
  background-color: black;
  padding-bottom: 100px;
}

#faqSegment {
  padding: 2rem;
}
#faqDiv > #faqSegment > h2 {
  color: orange;
}

#faqDiv > #faqSegment > p {
  font-family: "Roboto Mono", monospace;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

/********************Thank you page *************************************************************/
#thankYou {
  position: relative;
  top: 20rem;
}
.thankyouText,
.thankyouH1,
.thankyouButton {
  font-family: "Roboto Mono", monospace;
}

/* Media Rules */
@media only screen and (max-height: 750px) {
  #landingPage {
    font-size: 10px;
  }
}
/* End Main CSS File */
