/* Timeline Style sheet */

/* From https://uigradients.com*/
#timelineContainer{
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding:2rem
}

#timelineName {
    color:skyblue;
}
#timeLineHr,#timelineName:hover, #timelineAge:hover, #currentAge:hover, #timelineYear:hover {
    color:skyblue;
    border-color:skyblue;
}
#timelineYear,#timelineAge {
    font-weight: bold;
}
#printYears {
    color: black;
}
#currentAge{
    float: right;
    color:skyblue;
    animation: blinker 25s linear infinite;
}
#timelineAge {
    float: right;
    color: black;
    font-weight: bold;
}
#timelinePositive {
    font-size: x-large;
}

#timelinePositive:hover {
    color:skyblue;
}

/* Handles the visibility of my current age */
  @keyframes blinker {
    80% {
      opacity: 0;
    }
  }