/* Timeline Style sheet */

/* From https://uigradients.com*/
#timelineContainer {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2rem;
}

#timelineName {
  color: skyblue;
}
#timeLineHr,
#timelineName:hover,
#timelineAge:hover,
#currentAge:hover,
#timelineYear:hover {
  color: skyblue;
  border-color: skyblue;
}
#timelineYear,
#timelineAge {
  font-weight: bold;
}
#printYears {
  color: black;
}
#currentAge {
  float: right;
  color: skyblue;
  animation: blinker 25s linear infinite;
}
#timelineAge {
  float: right;
  color: black;
  font-weight: bold;
}
#timelinePositive {
  font-size: x-large;
}

#timelinePositive:hover {
  color: skyblue;
}

/* Handles the visibility of my current age */
@keyframes blinker {
  80% {
    opacity: 0;
  }
}

/* Media Query Rules */
@media only screen and (max-width: 600px) {
  #timelineHeader {
    height: 135px;
    border-bottom: 2px solid skyblue;
  }

  #timelineName,
  #currentAge {
    font-size: 3rem;
  }

  #currentAge {
    float: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 40%;
    padding-top: 10px;
    bottom: 10px;
  }
}
