/* Timeline Style sheet */

#timelineContainer{
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding:2rem
}
#timeline {
    
}
#printYears {
    color: black;
}
#currentAge{
    float: right;
    padding-right: 2rem;
}

#timeLineYear {

}

#timelineAge {
    float: right;
}

#timelinePositive {
    font-size: x-large;
}