/* Timeline Style sheet */

#timelineContainer{
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding:2rem
}

#timelineName {
    color:black
}
#timeLineHr, #timelineName:hover, #timelineAge:hover, #currentAge:hover, #timelineYear:hover {
    color:skyblue;
    border-color:skyblue;
}
#timelineYear,#timelineAge {
    font-weight: bold;
}
#printYears {
    color: black;
}
#currentAge{
    float: right;
    color:black
}


#timelineAge {
    float: right;
    color:slategray
}

#timelinePositive {
    font-size: x-large;
}

/* #printYears > span:hover {
border: solid 2px grey;
} */