<!-- Creating a website again-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Shop</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <title>Rare Games for the SNES</title>
    <link rel="stylesheet" href="cart.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>


<body>
<!--Nav Bar---------------------------------------------------->
    <ul>
        <li><a class="active" href="home.html">Home</a></li>
        <li><a href="game.html">Game</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="weather.html">Weather</a></li>
        <li><a href="survey.html">Survey</a></li>
        <li><a href="contact.html">Contact</a></li>
  
      </ul>
      <h2>Welcome to my Snes Shop</h2>
      <img id="mario" src="shopImages/mario.gif">
      <div id="app">
        <div v-for="game in games"></br>
    
            <div id="styleMe">
            <h3 class="gname">{{game.name}}</h3>
            <img v-bind:src="game.imgSrc">
            <br></br>
            <p id="desc">{{game.description}}</p>
            <p v-if="game.stock > 0"> In Stock: {{game.stock}}</p>
            <p id="Red" v-if="game.stock <= 0">Out of Stock: (</p>
            <p>{{game.price}}</p>  <!-- This simply displays the info from the array-->
            <button v-if="game.stock > 0" v-on:click="addGame(game)"v-on:click="deductStock(game)" v-on:click="gameTotal(game)">Add Game</button>
            <button v-if="game.stock < 5" v-on:click="removeGame(game)" v-on:click="addStock(game.stock)">Remove Game</button>
    
            <br></br> 
            </div>     
        </div>                   
    
    <div id="app">
        <div>


    <!----------- Created a table to insert data from array------------------------>
    <table id="top"  v-for="game in games">
            <tr id="btext">
                <th v-if="game.ordered > 0">Game Ordered</th>
                <th v-if="game.ordered > 0">Price</th>
                <th v-if="game.ordered > 0">Quantity</th>           
                <th v-if="game.ordered > 0">Total</th>
            </tr>
            <tr id="btext">
                <td id="left" v-if="game.ordered > 0"> {{game.name}} </td>
                <td id="head" v-if="game.ordered > 0"> {{game.price2}}</td>
                <td id="head" v-if="game.ordered > 0">{{game.ordered}}</td>
                <td id="head" v-if="game.ordered > 0">${{game.total * game.ordered}}</td>
            </tr>
            <tr>
                <td id="cartTotal" v-if="game.orderd > 0" v-for=""></td>
            </tr>
        
        </table>
        </div>
        </div>
        </div>
        </div>


    <div class="footer">
        <p> Footer Here </p>
    </div>

    <!--Javascript for the shp page------------------------------------------------------>
    <script>
        //  <td id="grandTotal" v-if="game.ordered> 0">Grand total {{}}</td>  <!-- Needs lots of work -->
        // Utilizing Vue
            var app = new Vue({
                el:'#app',          // links Vue to the Div
                data: {
                    cartItem: 0,
                    games :         // first game
                    [       // this is an array filled with objects
                        {name: 'Breath of Fire II', stock:5, price: "Price: $" + 54.99, price2: "$" + 54.99, total: 54.99, ordered:0, imgSrc:"shopImages/bof2.png", remove:"delete.jpg",
                        description: "Breath of Fire II is a role-playing video game developed and published by Capcom. First released in 1994, the game was licensed to Laguna for European release in 1996. It is the second entry in the Breath of Fire series."},
                        {name: 'Chrono Trigger', stock:5, price: "Price: $" + 104.95 , price2: "$" + 104.95, total: 104.95, ordered:0, imgSrc:"shopImages/trigger.png",
                        description: "Chrono Trigger (クロノ・トリガー Kurono Torigā?) is a console role-playing game developed and published by Square for the Super Nintendo Entertainment System (SNES) in 1995. The game's story follows a group of adventurers who travel through time to prevent a global catastrophe."},
                        {name: 'Megaman X3', stock:5, price: "Price: $" +339.94, price2: "$" + 339.94, total: 339.94, ordered:0, imgSrc:"shopImages/x3.png",
                        description: "Mega Man X3, known as Rockman X3 in Japan, is a video game released by Capcom for the Super Nintendo Entertainment System. The game was originally released in Japan on December 1, 1995 and later in North American and PAL regions in 1996. It is the third game in the Mega Man X series and the last to appear on the SNES"}
                    ],       // an array that the inputs print to
                    
                },
                methods: {          // these methods make adjustments to the shopping cart
                    
                    addGame(theGame) 
                    {
                        theGame.ordered++;
                        theGame.stock--;
                    },
                    removeGame(theGame)
                    {
                    
                        theGame.stock++;
                        theGame.ordered--;
                    },
        
                    cartTotal(theGame)
                    {
                        theGame.total
                    }
                    
                    
                    // The number count of items in cart work, maybe make three different properties for stock of each game? 
                
            
                }});
        </script>

</body>


</html>