
/*Every page CSS--------------------------------------*/

h2{
  text-align: center;
  position: relative;
  padding-top: 30px;
  
  
}

body{
    background-color: burlywood;
}

ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 0px;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: thistle;
    opacity: 0.5;
  
  }
  

  .PageLayout
  {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
  }

  .footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

/*Gallery Page CSS*-----------------------------------------------------------------------------------*/

#aboutImage
{
  position: fixed;
  top: 140px;
  right:100px;
  border-style: inset;
  border-color: coral;
  background-color: lemonchiffon;
  border-width: 7px;

  font-size: 24px;
  max-width: 300px;
  word-wrap: break-word;
}

#photoTutorial
{
  
  position: fixed;
  top: 100px;
  border-style: inset;
  border-color: coral;
  background-color: lemonchiffon;
  font-size: 24px;
  border-width: 7px;
  max-width: 300px;
  word-wrap: break-word;
}


.row 
{

    position: relative;
    padding-top: 30px;
    padding-bottom: 0px;
    width: 20%;
    
  
}

/*Home Page Styling-----------------------------------*/
#certs
{
  max-width: 400px;
  word-wrap: break-word;

}

#myself
{
  position: fixed;
  left: 0;
  height: 200px;
  border-style: inset;
  border-width: 7px;
  max-width: 300px;
  word-wrap: break-word;
}

