* {
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
  }

  a,#characterTotal {
    color: white;
  }
  .description {
    height:160px;
    overflow-y: auto;
  }
  a {
    font-size:x-large;
  }
  #form {
      width:50%;
    background-color: ghostwhite;
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .ui.primary.button {
    background-color: #1e3c72;  
}

#main-navigation > div > a {
text-decoration: underline;
color:red;
}


  body {
    background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #characterTotal {
    animation: blinker 5s linear infinite; 
  }
  
  @keyframes blinker {
    50% {opacity : 0;}
  }