
.ui 
{   background-color: black;
    max-height: 800px;

}

.ui > .fanArt {
    position: relative;
    bottom: -45px;
    height:1000px;
}

html, ul, body {
background-color: black;}

h1
{
    position: relative;
    text-align: center;
    padding: 25px;
    margin: 20px;
    font-family: 'Yeon Sung', cursive;
}

font {
    padding:2px;
}

.charBio
{
	top:140px;
    text-align: center;
    max-width: 20%;
    padding: 10px;
    left: 78%;
    font-size: 20px;
	border: 2px solid black;
	}

table
{
    top: 110px;
    position: absolute;
    text-align: center;
    height: 600px;
    left: 200px;
    font-size: 20px;
    padding: initial;
    margin: 20px;
}

 td, th
{
    height:200px;
    width: 175px;
}

img
{
    position: relative;
    top: 200px;
    vertical-align: middle;
    width: 170px;
    height:190px;
    right: 20px;
    
    
}

#fanart
{
   position: relative;
   top: 20px;
   max-width: 200px;
    min-width: 100px;
    
   
}




