<html>
<head>
    <title>Vue Shopping Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- use vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
      <!-- You MUST include jQuery before Fomantic -->
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
      <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"
      />
      <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
</head>
<body class="ui container" style="height:fit-content; background-color: black;"></body>

<div class="ui container stackable segment" style="margin-top:2%; background-color: gray; border-radius: 10%; margin-bottom: 10%;">
    <!--header for page-->
    <div class="text header center container" style="text-align: center;  margin:2%;">
        <h2>Vue Shopping Cart</h2></div>
          <!--Product images / Add to option-->
    
      <div id="app">
        <div class="ui link cards centered">
      <div v-for="game in games">
      <div class="card ui padded" style="margin:15px; height: fit-content; width:300px;">
        <div class="image ui medium">
          <img v-bind:src="game.imgSrc">
        </div>
        <div class="content">
          <div class="header">{{game.name}}</div>
          <div class="meta">
            {{game.developer}}
            <span class="right floated">
              <p v-if="game.stock > 0"> Stock: {{game.stock}}</p>
              <p class="ui text red" v-if="game.stock <=0">Out of stock</p>
            </span>
            <hr>
          </div>
          <div class="description">
           {{game.description}}
          </div>
        </div>
        <div class="extra content fluid">
          <span class="right floated">
            <button class="ui button negative mini" v-if="game.stock < 5" v-on:click="removeGame(game)" v-on:click="addStock(game.stock)">Remove Game</button>
            <button class="ui button green mini" v-if="game.stock > 0" v-on:click="addGame(game)"v-on:click="deductStock(game)" v-on:click="gameTotal(game)">Add Game</button>
          </span>
          <span>
            <i class="money icon"></i>
            {{game.total}}
          </span>
        </div>
      </div>
      </div>
      </div>
    <!--end products-->
    <!--Shopping cart content-->
    <div class="ui " style="height:fit-content; margin-bottom:5%;">
      <p style="text-align: center;"><span class="ui big text center" >Order Summary</span></p>
<!-- Start table-->
<table class="ui celled table">
  <thead>
    <tr>
    <th>Game Ordered</th>
    <th>Developer</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr></thead>
  <tbody>
    <tr id="btext" v-for="game in games">
      <td id="left" v-if="game.ordered > 0"> {{game.name}} </td>
      <td id="" v-if="game.ordered > 0"> {{game.developer}} </td>
      <td id="" v-if="game.ordered > 0"> ${{game.total}}</td>
      <td id="" v-if="game.ordered > 0">{{game.ordered}}</td>
      <td id="totalAmount" v-if="game.ordered > 0">${{(game.total * game.ordered).toFixed(2)}}</td>
  </tr>
  <tr style="background-color: mediumpurple;">
    <td style="background-color: grey;">
    </td>
    <td style="background-color: grey;"></td>
    <td style="background-color: grey;">

    </td>
    <td><b>Game Quantity: {{quantity}}</b></td>
    <td><b>Grand Total: ${{total.toFixed(2)}}</b></td>
  </tr>
  
  </tbody>
    </script>
  </div>
</table>
</div>
<!--end table-->
    </div>
  </div>
<footer class="ui footer container" style="margin-top:500px; margin-bottom: 200px;">
  
</footer>
  <!--end app-->
    <script src="vue.js"></script>
</body>



</html>


