<html>
<head>
    <title>Vue Shopping Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- use vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
      <!-- You MUST include jQuery before Fomantic -->
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
      <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css"
      />
      <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
</head>
<body class="ui stackable" style="background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);"></body>

    <!--header for page-->
    <div class="text header center container" style="text-align: center; margin-bottom:25px; margin:2%;">
        <h1>Vue Shopping Cart</h1></div>
          <!--Product images / Add to option-->
    
      <div id="app">
        <div class="ui link cards centered">
      <div v-for="game in games">
      <div class="card ui" style="margin:25px; height:600px; width:400px;">
        <div class="image ui large">
          <img v-bind:src="game.imgSrc" style="height:300px; width:400px;">

        </div>
        <div class="content">
          <div class="header">{{game.name}}</div>
          <div class="meta">
            {{game.developer}}
            <span class="right floated">
              <p v-if="game.stock > 0"> Stock: {{game.stock}}</p>
              <p class="ui text red" v-if="game.stock <=0">Out of stock</p>
            </span>
            <hr>
          </div>
          <div class="description">
           {{game.description}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <button class="ui button green mini" v-if="game.stock > 0" v-on:click="addGame(game)"v-on:click="deductStock(game)" v-on:click="gameTotal(game)">Add Game</button>
            <button class="ui button negative mini" v-if="game.stock < 5" v-on:click="removeGame(game)" v-on:click="addStock(game.stock)">Remove Game</button>
          </span>
          <span>
            <i class="money icon"></i>
            {{game.price}}
          </span>
        </div>
      </div>
      </div>
      </div>
    <!--end products-->
    <!--Shopping cart content-->
    <div class="ui segment" style="margin: 2%;">
      <p style="text-align: center;"><span class="ui large red text center">Order Summary</span></p>
<!-- Start table-->
<table class="ui celled table">
  <thead>
    <tr>
    <th>Game Ordered</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr></thead>
  <tbody id="grabMe">
    <tr id="btext" v-for="game in games">
      <td id="left" v-if="game.ordered > 0"> {{game.name}} </td>
      <td id="head" v-if="game.ordered > 0"> {{game.price2}}</td>
      <td id="head" v-if="game.ordered > 0">{{game.ordered}}</td>
      <td id="head" v-if="game.ordered > 0">${{game.total * game.ordered}}</td>
  </tr>
  
  </tbody>
    </script>
  </div>
</table>

<!--end table-->
    </div>
  </div>
  <!--end app-->
    <script src="vue.js"></script>
</body>



</html>


