

body {
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}
.fluid-container{
    width: 100%;
    height: 800px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10%;
    
}

.container 
{
    text-align: center;
    padding:20px;
}



label {
    padding-right: 10px;
    text-align: left;
    font-size: 20px;
    
}

label, input {
    width: 25%;
    
}

textarea {
    font-weight: bold;
    width: 70%;
    
}

button {
  
    width: 70% ;
    background-color:black;
    color:white;
    font-weight: bold;
    
}

button:hover {
    color: black;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    font-weight: bolder;
    position: relative;
    top: 2px;
}

button:active, textarea:active {
    width: 68%;
    
}
 input:active {
    width: 27%;
   
}

iframe {
    padding-top: 30px;
}
