@font-face {
  font-family: pokemon;
  src: url('fonts.ttf');
}

h1,#count {
  font-family: pokemon;
}

p {
  font-size: medium;
}

.searchInput {
  font-weight: 600;
  border: none;
  font-size: large;
  letter-spacing: 5px;
  font-family: pokemon;
  text-align: center;
}

.ui.button {
  border-radius: 25px;
}

#searchTools {
  margin-top:1%;
  background: #FF4E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#header {
    margin-top:3%;
}

#title {
    margin-bottom:10%;
    border: rgb(161, 117, 51);
    border-style: solid;
    font-size:xxx-large;
}

#advanced, h3 {
    font-size: larger;
    font-weight: bold;
}

h1::first-letter {
  text-transform: capitalize;
}

.ui.modal {
  width:100%;
}


.card {
  border-radius: 50px;
}


    .myCard {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    @media only screen and (max-width: 800px) {
    
        #title {
            margin-bottom:10%;
        }

      #count {
        margin-bottom: 10%;
        margin-top: 5%;
      }
    }


    @media only screen and (max-width: 550px) {
        #header {
          margin-left:28%;
        }
    
    }

    @media only screen and (max-width: 420px) {
        #header {
          margin-left: 40px;
        }

        @media only screen and (max-width: 375px) {
          #header {
            margin-left: 0px;
          }
        
        }
    }

