


.searchInput {
  font-weight: 600;
  font-variant: petite-caps;
  border: none;
  font-size: xx-large;
  letter-spacing: 15px;
  font-family: 'EB Garamond', serif;
  text-align: center;
}

#header {
    margin-top:3%;
}

#title {
    margin-bottom:10%;
    border: rgb(161, 117, 51);
    border-style: solid;
    font-size:xxx-large;
}


    .myCard {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    @media only screen and (max-width: 800px) {
    
        #title {
            margin-bottom:10%;
        }

      #count {
        margin-bottom: 10%;
        margin-top: 5%;
      }
    }


    @media only screen and (max-width: 550px) {
        #header {
          margin-left:28%;
        }
    
    }

    @media only screen and (max-width: 420px) {
        #header {
          margin-left: 40px;
        }

        @media only screen and (max-width: 375px) {
          #header {
            margin-left: 0px;
          }
        
        }
    }

