


#test {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#header {
    margin-top:3%;
}

#title {
    margin-bottom:10%;
}


    .myCard {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }

    @media only screen and (max-width: 600px) {
        #header {
          padding-left: 30%;
          

        }
        #title {
            margin-bottom:10%;
        }

        .ui.button {
            width:100%;
            margin-left: 30%;
            margin-bottom: 5%;
        }

        .ui.buttons {
            
            margin-top:10%;
            margin-left:30%;

        }

        .ui.buttons.button{
            background-color: blue;
        }

        .ui.label {
            width:275%;
      }

      #count {
        margin-bottom: 10%;
        margin-top: 5%;
      }
      #label {
        margin-left:10%;
      }
    }