/* Styles for the home page */

body {
  background-color: rgb(207, 116, 116);
}
.footer {
  position: fixed;
  
  width: 100%;
  color: white;
  text-align: center;
}
header {

  background-color:burlywood;
}
.btn:hover {
   
  
}
img {
  vertical-align: middle;
  border-style: solid;
  border-width: unset;
  border-radius: 3%;
  height: 250px;
  width: 200px;
  margin: 100px;
  object-fit: cover;
}

.bounceleft:hover {
  position: relative;
  top:10px;
  right:10px;
}

.bounceright:hover {
  position: relative;
  top:10px;
  left:10px;
}



li:hover {
  position:relative;
  top:2px;
}

#formButton:hover {
  position: relative;
  top:4px;
  color:black;
  background-color: aquamarine;
}
h1,li { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

