

a {
  font-size: medium;
}

.ui.footer.segment {
  padding: 5em 0em;
}
#projects {
  margin-top:140px;
}


@media only screen and (max-width: 750px) {
 #main {
    margin-top:225px;
  }
  
  #about {
    margin-top:100px;
  }
  #projects {
    margin-top: 250px;
  }
  #form {
    margin-top: 50px;
    margin-bottom:50px;
  }

  div.ui.vertical.divider {
    position:unset;
  }
}