div {
    background-color: aqua;
}

#list, #header, #ffCard {
 border:black 10px solid;
 height: fit-content;
}

#form, #fetchFF {
    padding: 25px;
    margin:30px;
}
#ffCard {
    margin: 200px;
}

