div.segment {
    background-image: url("background.jpg");
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

}

.segment {
    height:1200px;
    background-color: aquamarine;
}
.segment > #flag {
    float:right;
    bottom:630px;
    position: relative;
}

.segment > #yoshiWin {
    width: 150px;
    height: 200px;
    right: 500px;
    top: 300px;
    position: fixed;
    visibility: hidden;
}

.segment > #winMario {
    width: 150px;
    height: 200px;
    right: 600px; 
    top: 300px;
    position: fixed;
    visibility: hidden;
}