p {
    font-size: 20px;
    font-family: 'EB Garamond', serif;

}

#header {
    background-color: yellow;
    padding:10px;
}

#searchInput {
    border: none;
    border-bottom: 4px solid red;
    font-size: xx-large;
    font-family: 'EB Garamond', serif;

}

#searchTools {
    margin-top:3%;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    margin-top: 10%;
    z-index: -1;
    font-family: 'EB Garamond', serif;
    text-align: center;
}
#list {
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.label {
    font-size:x-large;
    color:red;
}

body {
    background-color: black;
}

.ui.accordion {
    padding:20px;
}

.ui.fluid.dropdown{
margin-bottom: 10px;
padding-bottom: 1px;
font-size: large;
}