p {
    font-size: 20px;
    font-family: 'EB Garamond', serif;

}

#header {
    background-color: yellow;
    padding:10px;
}

#searchInput {
    border: none;
    border-bottom: 4px solid red;
    font-size: xx-large;
    font-family: 'EB Garamond', serif;

}

#inputContainer {
    width: 80%;
}

#counter {
    font-size: xxx-large;
    position: relative;
    top: 35%;
    left:8%;
}

#footer {
    margin-top: -2%;
    font-family: 'EB Garamond', serif;
}
#list {
    margin-bottom: 50px;
}

body {
    height: 100%;
    background-color: black;
}

.ui.accordion {
    padding:20px;
}

.ui.fluid.dropdown{
margin-bottom: 10px;
padding-bottom: 1px;
font-size: large;
}