/*Main */
body {
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#footer {
  position: relative;
  margin-top: 22%;
}

#list {
  padding-bottom: 100px;
}
/*End Main */

/*Fonts */
p {
  font-size: 1.5rem;
  font-family: "EB Garamond", serif;
  font-style: oblique;
}

option {
  font-weight: 400;
  font-variant: petite-caps;
  font-weight: 200;
  opacity: 0.8;
}

b,
h1,
button,
a,
select,
#title {
  font-weight: 600;
  font-variant: petite-caps;
}
h1 {
  letter-spacing: 15px;
}

/*Character Cards */

.details {
  font-weight: 200;
  opacity: 0.8;
}

.label {
  font-size: x-large;
  color: red;
}

.line {
  border-color: springgreen;
  width: 75%;
  float: left;
}

.divider {
  border-color: springgreen;
  margin-top: 5%;
}

.ui.medium.image {
  margin-top: 14%;
}

/*Search Menu*/

.ui.accordion {
  padding: 20px;
}

.ui.fluid.dropdown {
  margin-bottom: 10px;
  padding-bottom: 1px;
  font-size: large;
}

#searchInput {
  font-weight: 600;
  font-variant: petite-caps;
  border: none;
  border-bottom: 2px solid skyblue;
  font-size: xx-large;
  letter-spacing: 15px;
  font-family: "EB Garamond", serif;
  text-align: center;
}

#searchTools {
  margin-top: 3%;
}

/*Media Rules*/

@media only screen and (max-width: 600px) {
  .divider,
  .line {
    width: 100%;
    border-color: lightblue;
  }

  .ui.button {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 990px) {
  .ui.medium.image {
    margin-top: 0;
  }
}

@media only screen and (max-width: 350px) {
  .ui.fluid.dropdown {
    padding: 4px;
  }
}
