p {
    font-size: 20px;
    font-family: 'EB Garamond', serif;

}

#searchInput {
    border: none;
    border-bottom: 4px solid red;
    font-size: xx-large;
    font-family: 'EB Garamond', serif;

}

#inputContainer {
    width: 75%;
}

#footer {
    margin-top: -2%;
    font-family: 'EB Garamond', serif;
}
#list {
    margin: 2%;
    margin-bottom: 50px;
}

body {
    height: 100%;
}