p {
    font-size: 22px;
    font-family: 'EB Garamond', serif;
    font-style: oblique;
}


b,h1 {
    font-weight: 600;
    font-variant: petite-caps;
}
h1 {
    letter-spacing: 15px;
}


#header {
    background-color: yellow;
    padding:10px;
}

#searchInput {
    border: none;
    border-bottom: 4px solid red;
    font-size: xx-large;
    letter-spacing: 15px;
    font-family: 'EB Garamond', serif;
    text-align: center;
}

#searchTools {
    margin-top:3%;
}

#footer {
    position: relative;
  margin-top: 22%;
}

#list {
    padding-bottom: 100px;
}

.label {
    font-size:x-large;
    color:red;
}

.line {
    border-color:springgreen;
    width:75%;
    float:left;
}

.divider {
    border-color:springgreen;
    margin-top:5%;
    
}

.ui.medium.image {
        margin-top:14%;
}

body {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.ui.accordion {
    padding:20px;
}


.ui.fluid.dropdown{
margin-bottom: 10px;
padding-bottom: 1px;
font-size: large;
}

/*Media Rulez*/

@media only screen and (max-width: 600px) {
    .divider, .line {
        width:100%;
        border-color:lightblue;
    }

    .ui.button {
        width:100%;
        margin-bottom: 5px;
    }
  }

  @media only screen and (max-width: 350px) {
    .ui.fluid.dropdown {
        padding:4px;
    }
  }