@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
img {
  height:300px;
  width:300px;
  object-fit: contain;
  margin-top:50px;
}
html {
  background-color: black;
}
body {
 background-color: black;
}

audio {
  display: none;
}

.ui {
    background-color: black;
}

.ui > segment {
  background-color: black;
}

.ui > container {
  background-color: black;
}

h1 {
  text-align: center;
  color: silver;
}

#health {
    word-break: break-all;
    width:fit-content
}
#pNum {
  position: relative;
  font-size: large;
}
#playerDetails{
  border-style:solid;
  border-top-width: 1.5em;
  border-bottom: 1.5em;
}
p,h1 {
  color: goldenrod;
  font-family: 'Press Start 2P', cursive;
  color: snow;
  text-shadow: 2px 2px steelblue;
}
p {
  font-size :16px;
}

#blink {
  animation: blinker 2s linear infinite; 
}

@keyframes blinker {
  50% {opacity : 0;}
}

#footer{
    padding-bottom: 50px;
    margin-top: 100px;
}

#players {
  border-right: 1em;
  border: snow;
  border-style: solid;
}
#buttonGroup > .ui.button {
margin-top:30px;
text-align:center;
}
#turtleGroup {
  margin-top: 30px;
  margin-bottom:30px;
}

/* Media queries  */
@media only screen and (max-width: 765px) {
    #turtleGroup {
      text-align: center;

    }

    .ui > button {
        width:100%;
        height:fit-content;
    }
    #project {
        margin:5%;
    }
}