* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ;
    margin: 0px;
    background-color: azure;
}

h1 {
    font-size: 2.5rem;
    color: black;
}

h2 {
    font-size: 1.5rem;
    color:#2c292b;
}

